@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

/* A PARTIR DE ACA EL HEADER */
.menu-1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.menu-1 h2{
    color: white;
    font-size: 40px;  
}
hr{
    margin: 10px 0;
}
.menu-2{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    color: #FFFFFF;
}
.socials{
    margin: 10px;
    float: top;
    display: flex;
    
}
.socials ul li a{
    color:red ;
    font-size: 30px;
    margin: 15px;
}
.social img:hover{
    background-color: #555555;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.redes{
    width: 80px;
    height: 80px;padding: 10px;
} 


/* A PARTIR DE ACA LOS SLIDES */

.swiper-button-prev::after {
    font-size: 25px;
    color: red;
    font-weight: bolder;
}
.swiper-button-next::after {
    font-size: 25px;
    color: red;
    font-weight: bolder;
}
.swiper-button-prev {
    color: red;
}
.swiper-button-next {
    color: red;
}
.swiper-pagination-bullet{
    background-color: #D3D2D2;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: red;
}

.logo-1{
    width: 130px;
    height: 130px;
}
.logo-2{
    width: 150px;
}


.menu .navbar ul li {
    position:relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}
.menu .navbar ul li a:hover{
    color: red
}

.menu-icono {
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: flex;
}
.menu-3{
    position: relative;
    margin-top: 100px;
    padding-bottom: 50px;
    height: 500px;
}
.slider{
    display: flex;
    align-items: center;
}
.slider-txt{
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1{
    font-size: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p{
    font-size: 18px;
    color: #a7a7a7;
}

.botones{
    margin-top: 50px;
}
.btn-1{
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid red;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}
.btn-1:hover{
    background-color: red;
    font-size: 20px;
}
.slider-img{
    width: 50%;
    height: 500px;
}
.slider-img img{
    margin-right: 225px;
    width: 550px;
}
.products {
    background-color: #0d0d0d;
}
.barra{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.barra label{
    width: 25%;
    order:1;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    color: #a7a7a7;
    font-weight: 80px;
    transition: background ease 0.2s;

}
.barra .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    padding-top: 25px;
}
.barra input[type="radio"]{
    display: none;
}
.barra input[type="radio"]:checked + label {
    border-bottom: 2px solid red;
    color: #FFFFFF;
} 
.barra input[type="radio"]:checked + label + .tab {
    display: block;
}
 .product{
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}
.product-img{
    width: 50%;
    text-align: left;
}
.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img{
    width: 250px;
    height: 300px;
}
.product-txt{
    padding-left: 60px;
    width: 40%;
    margin-left: 10px;
    text-align: left;
}
.product-txt h4{
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}
.product-txt p {
    color: #a7a7a7;
    font-size: 16px;
    margin-bottom: 15px;
}
.product-txt span{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
} 
.btn-p{
    display: inline-block;
    padding: 5px 5px;
    border: 2px solid red;
    color: #FFFFFF;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 50px;
}
.btn-p:hover{
    background-color: red;
    font-size: 20px;
}
.info{
    margin: 50px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    height: 200px;
}
.info-img {
    width: 50%;
}
.info-img img{
    width:250px;
    height: 250px;
}
.info-txt{
    width: 80% ;
}
.info-txt h2{
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.info-txt p{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}
.btn-2{
    display: inline-block;
    padding: 5px 25px;
    background-color: red;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn-2:hover{
    background-color: red;
    font-size: 20px;
}
.horario{
    padding: 100px 0px;
    background-color: #0d0d0d;
    
}
.horario-info h2{
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin: 30px 10px;
}
.sucursal{
    display: flex;
}
.horario-txt{
    display: inline-block;
    justify-content: center;
    
}
.txt{
    display: inline-block;
    padding: 15px 35px;
    color: #a7a7a7;
}
.txt h4{
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}
.map{
    width: 100%;
    filter: grayscale(100%) invert(92%) contrast(93%);
}
.footer ul{
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.footer ul li{
    font-size: 25px;
    color: #D3D2D2;

}
@media (max-width: 820px){
    .menu-1 {
        width: 800px;
        display: inline-flex;  
    }
    .info-txt h2{
        font-size: 30px;
    }
    .info-img{
        width: 40%;
    }
    .info-txt p{
        width: 300px;
    }
    .info-img img{
        width:150px;
        height: 150px;
    }
    .horario{
        padding: 70px 0px;
       
    }
    .horario-info h2{
        font-size:45px;
    }
    .sucursal{
        display: block; 
        width: 810px;
    }
    .horario-txt{
        display:block;
        justify-content: center;   
    }
    .txt{
        display: inline-block;
        padding: 15px 35px;
        color: #a7a7a7;
    }
    .txt h4{
        font-size: 25px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    .footer ul{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    .footer ul li{
        font-size: 15px;
        color: #D3D2D2;
        padding: 10px;
    }  
}